*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    padding: 50px 0;
}

/* UTILITIES */

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.p-10{
    padding: 10px;
}

.m-20{
    margin: 20px;
}
/* Layout */

.container{
    max-width: 850px;
    margin: 0 auto;
}

.col-12{
    width: 100%;
}

.col-4{
    width: calc(100% / 3);
}

.card{
    padding: 10px;
}

